@import "App";

@mixin str ($top, $left, $bottom, $right){
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  width: 200px;
  height: 200px;
  background-color: $main-color;
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}


$main-color: #14dc89;
.App {
  text-align: center;
  .App-logo {
  height: 40vmin;
  pointer-events: none;
  &::selection{
    background-color: $main-color;
  }
}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.box{
  @include str(20%, 20%, 0, 0);
}
.cotton{
 @include str(0, 0, 20%, 20%)
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
