@mixin  BG($val) {
    background: $val;
}

@mixin box($width,$height) {
     width: $width;
     height: $height;
}
@mixin img($url) {
    background-image: $url;
    background-repeat: no-repeat;
    background-size: cover;
}
// @mixin display($content){
//     display: flex;
//     justify-content: $content;
//     align-items: center;
// }
@mixin  position {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50% , -50%);
}

.Header{
   @include box(100vw,100vh);
   @include img(url(../images/businessBG.jpg));
   .headTag{
    @include box(60vw,60vh);
    @include BG(black);
    opacity: .4;
    @include position();
    h3{
        color: #dbdbdb;
        text-transform: uppercase;
    }
    p{
        @extend h3;
    }
   }
}