$BGNav: #eceaea;

@mixin display($content){
    display: flex;
    justify-content: $content;
    align-items: center;
}
@mixin width($width) {
    width: $width;
}
.Navbar{
    position: fixed;
    border-radius: 1.2rem;
    opacity: .6;
    nav{
        img{
            padding:.5rem 1rem;
        }
        @include width(100vw);
        background-color: $BGNav;
        @include display(space-between);
        ul{
           @include display(space-around);
           @include width(50vw);
           .active{
               color: #fbff00;
               border-bottom: 2px solid #fbff00;
           }
           li{
               cursor: pointer;
           } 
        }
    }
}